{% extends './base.html' %} {% block content %}

<div class="main">
  <a href="/app/" type="button" class="btn btn-danger">Return to list</a>
  <a href="/app/{{data.id}}/update/" type="button" class="btn btn-info"
    >Update</a
  >

  <h1>Detail du produit</h1>
  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="{{data.photo}}" class="card-img-top" alt="card-img" />
      <div class="card-body">
        <h5 class="card-title">{{data.name}}</h5>
        <p class="card-text">{{ data.description }}</p>
        <p class="card-text">{{ data.price }} €</p>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} Quantité:<br />
          {{ data.quantity }}<br />

          <input
            type="number"
            max="{{ data.quantity }}"
            min="0"
            name="substract"
          />

          <input type="submit" value="Buy" class="btn btn-success" />
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"></script>
{% endblock %}
