{% extends './base.html' %} {% block content %}
<div class="main">
  <h1>Liste de produits</h1>
  <a href="/app/lobby" type="button" class="btn btn-success">Go to chat</a>

  <div class="container" style="width: 80%; justify-content: center">
    <div class="row">
      {% for data in dataset %} {% if data.quantity > 0%}
      <div class="col-lg-4 mb-3 d-flex align-items-stretch">
        <div class="card" style="width: 18rem">
          <img
            src="{{data.photo}}"
            style="height: 14vw; object-fit: cover"
            class="card-img-top"
            alt="card-img"
          />
          <div class="card-body">
            <h5 class="card-title">{{data.name}}</h5>
            <p class="card-text">{{ data.description }}</p>
            <p class="card-text">{{ data.price }} €</p>
            <p class="card-text">Quantité:<br />{{ data.quantity }}</p>
            <a href="/app/{{ data.id }}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
  <a href="/app/create/" type="button" class="btn btn-success"> Add Product </a>
</div>
<script type="text/javascript">
  $(function(){
    {% if alert %}
       //whatever conditions and js code
       alert('{{alert}}');
    {% endif %}
  });
</script>
{% endblock %}
